.back_ground
{
    background-image: url("th2.jpg");
}

.list
{
    color: azure;
    list-style: none;
}

.nav_bar
{
    display: inline;
    position: relative;
    right: 22px;
}

.nav_content
{
    border-color: wheat;
    border-style: solid;
    border-width: 3px;
    margin: 2px;
    padding: 10px;
    color: black;
}

a:hover
{
    color: blue;
}

.title_letters
{
    position: relative;
    text-align: center;
}

#color
{
    color: aliceblue;
}

#nav_outline
{
    border-color: black;
    border-style: dashed;
    border-width: 2px;
    padding: 50px;
}

#credits_text
{
    width: 740px;
    height: 400px;

    text-align: center;
}

.move_img1
{
    position: relative;
    left: 365px;
    bottom: 80px;
    margin: 5px;
    padding: -200px;
}

#color_p
{
    color: whitesmoke;
}

a:visited
{
    color: white;
}

a:hover
{
    color: green;
}

#move
{
    position: relative;
    text-align: center;
}

#section1
{
    background: brown
}

#section2
{
    background: black;
}

#section3
{
    background: rebeccapurple;
}

#section4
{
    background: blue;
}

#img1_pos
{
    position: absolute;
}

#img_move
{
    position: relative;
    left: 300px;
}
